.container-label {
	position: absolute;
	bottom: 90px;
	right: 0;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0d0d0dc5 ;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	height: 30px;
	padding: 0px 25px;
}
