/* You can add global styles to this file, and also import other style files */

*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
background: linear-gradient(90deg, #020024 0%, #090979 35%, #090979 100%);
}
